<div class="container mt-3">
    <h4>Consulta del tiempo por Ciudad</h4>
    <div class="col-lg-6 alineacion card p-3">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Ciudad</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Codigo de Ciudad</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            
            <button type="submit" class="btn btn-primary">Consultar</button>
          </form>
    </div>

    <div class="col-lg-6 alineacion">
        <div class="card">
            <div class="card-body">
            <ul>
                <li>Temperatura:</li>
                <li>Ciudad:</li>
                <li>Latitud:</li>
                <li>Longitud:</li>
            </ul>
            </div>
          </div>
    </div>

</div>