<div class="container mt-3">
    <h4>Consulta del tiempo por Ciudad</h4>
    <div class="col-lg-6 alineacion card p-3">
        <form [formGroup]="formulario" (ngSubmit)="consultar()">
            <div class="mb-3">
              <label class="form-label">Ciudad</label>
              <input type="text" class="form-control" formControlName="ciudad" placeholder="Ciudad">
              <p class="text-danger" *ngIf="formulario.get('ciudad')?.invalid && formulario.get('ciudad')?.touched">*Requerido* *Solo Letras* *No incluir 'Local'*</p>
            </div>
            <div class="mb-3">
              <label class="form-label">Codigo de Ciudad</label>
              <input type="text" class="form-control" formControlName="codigo" placeholder="Codigo">
              <p class="text-danger" *ngIf="formulario.get('codigo')?.invalid && formulario.get('codigo')?.touched">Favor de solo escribir LETRAS</p>
            </div>
            
            <button type="submit" class="btn btn-primary">Consultar</button>
          </form>
    </div>

    <div class="col-lg-6 alineacion">
        <div class="card">
            <div class="card-body">
            <ul>
                <li>Temperatura:</li>
                <li>Ciudad:</li>
                <li>Latitud:</li>
                <li>Longitud:</li>
            </ul>
            </div>
          </div>
    </div>

</div>